@font-face {
  font-family: "Source Serif 4";
  src: url("/fonts/SourceSerif4-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Source Serif 4";
  src: url("/fonts/SourceSerif4-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Source Serif 4";
  src: url("/fonts/SourceSerif4-It.otf") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: "Source Serif 4";
  src: url("/fonts/SourceSerif4-BoldIt.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Serif";
  src: url("/fonts/IBMPlexSerif-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Input Mono Narrow";
  src: url("/fonts/InputMonoNarrow-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Input Mono Narrow";
  src: url("/fonts/InputMonoNarrow-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Input Mono Narrow";
  src: url("/fonts/InputMonoNarrow-Italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Input Mono Narrow";
  src: url("/fonts/InputMonoNarrow-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

:root {
  --bg: #fff;
  --fg: #111;

  font-family: "Source Serif 4", serif;
  line-height: 1.5;
  text-justify: inter-word;

  background-color: var(--bg);
  color: var(--fg);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --bg: #111;
    --fg: #eee;
  }
}

* {
  box-sizing: border-box;
}

main {
  max-width: 80ch;
  margin: auto;
}

@media (max-width: calc(80ch + 4rem)) {
  main {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

header > a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "IBM Plex Serif", serif;
  font-weight: bold;
}

pre,
code {
  font-family: "Input Mono Narrow", monospace;
  font-size: 0.95em;
}

p,
aside {
  margin-bottom: 6pt;
  text-align: justify;
  hyphens: auto;
}

a {
  color: var(--fg);
}

abbr {
  letter-spacing: 0.05rem;
  text-decoration: none;
}
